.icons-container {
  width: 1250px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-h2 {
  color: $neutral-600;
  font-size: 16px;
  margin-bottom: 50px;
}

.icons-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;

  img {
    width: 200px;
  }
}
