.video-container {
  margin: 0 auto;
  width: 1250px;
  height: 500px;
  background-image: url(/images/video-background.png);
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-radius: 50px;
}

.video-button {
  width: 350px;
  height: 90px;
  box-shadow: 0 0 0 15px #7da7fa;
  background-color: $white;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.video-button-left {
  i {
    font-size: 35px;
    color: $primary;
  }
}

.video-button-right {
  display: flex;
  flex-direction: column;
  gap: 13px;
  .video-button-right-top {
    font-size: 20px;
    font-weight: 600;
    color: $neutral-1000;
  }
}

.video-button-right-bottom {
  display: flex;
  gap: 20px;

  .bottom-span-1 {
    color: $neutral-800;
  }

  .bottom-span-2 {
    color: $primary;
    font-size: 16px;
  }
}
