@import "src/variable";
@import "src/typography";
@import "src/companents";

@import "divides/header";
@import "divides/yetim.scss";
@import "divides/data";
@import "divides/neuros";
@import "divides/easy";
@import "divides/ask";
@import "divides/footer";
